/* Modify the background color */
.navbar-custom {
    background-color: #587B7F;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
    color: #d3d0cb !important;
}

.nav-custom-color {
    color: #e2c044 !important;
}

.body-color {
    background-color:#D3D0CB;
}

.btn-custom {
    background-color: #e2c044 !important;
    color: white !important;
}
